$dark-orange: #D87D4a;
$light-orange: #FBAF85;
$almost-black: #101010;
$black: #000000;
$nav-bac: #141414;
$dark-gray: #808080;
$gray: #F1F1F1;
$nav-gray: #2C2C2C;
$almost-white: #FAFAFA;
$white: #FFFFFF;

